html {
    font-size: 10px;
}

p, a, div, ul, li, input, .form-control, .btn {
    font-size: 16px;
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}
header{
  padding: 15px;
}
header .container-fluid{
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid; 
}
header li{
  align-items: center; 
}
header li a{
  font-size: 2.4rem; 
}

.user-name {
    font-size: 4rem;
}

.body{
  padding-left: 40px;
}

.category-name{
  font-size: 3rem;
}
.sns-name {
    font-size: 2rem;
}

.user-content{
  padding-left: 30px;
}

.user-content h2{
  font-size: 2.5rem;
}

.user-sns>div {
  padding-left: 20px;
}

.user-sns{
  padding-left: 20px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-posts{
    display: flex;
    width: fit-content;
}

.top-posts >li{
    width: 300px;
    overflow: hidden;
    height: 300px;
    margin-right: 10px;
    position: relative;
}

.posts > li {
    width: 250px;
    overflow: hidden;
    height: 300px;
    margin-right: 10px;
    position: relative;
}



.top-twitter{
    overflow: scroll;
}

.posts  article {
    padding: 10px;
}
.top-posts  article {
    padding: 10px;
}

.text{
    color: #000000;
}

.created_at {
    margin-top: 15px;
    font-size: 14px;
    color: #8f8f8f;
    text-align: right;
}

.post_photo{
    width: 100%;
    max-height:225px;
}

.rt{
    color: #00ff00;
}

nav{
    margin: 15px 0;
}

.page_link{
    margin: 5px 0;
}

.page_link a {
    font-size: 2.5rem;
}

.lead {
    font-size: 3rem;
}
