html{
    font-size: 10px;
}

p,a,div,ul,li,input,.form-control,.btn{
    font-size: 16px;
}

ul{
    padding: 0;
    list-style: none;
}

.head{
    border-bottom: 1px solid #000000;
}

.user-name{
    font-size: 5rem;
}

.sns-name{
    font-size: 3rem;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts>li{
    width: 210px;
    height: 210px;
}